{% if DISQUS_SITENAME %}
<!-- Disqus -->
<div id="disqus_thread"></div>
<script type="text/javascript">
{% if DISQUS_ADD_URL %}
var disqus_config = function () {
    this.page.url = '{{ SITEURL }}';
    this.page.identifier = {{ article.slug }};
};

{% endif %}
(function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>
    {{ _('Please enable JavaScript to view comments.') }}
</noscript>
<!-- End Disqus -->
{% endif %}
